@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-principal:#365E32 ;
    --cor-secundaria:white ;
    --cor-terciaria:#E7D37F;

    --fonte-principal:"Roboto Condensed", sans-serif ;
}

.barra__menu {
    background-color: var(--cor-principal);
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.barra__menu__item {
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: var(--cor-secundaria);
    font-size: 25px;
    font-family: var(--fonte-principal);
    margin: 0 10px;
    
}

.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--cor-terciaria);
    padding: 150px;
}

.inicio__titulo__principal {
    color: var(--cor-principal);
    font-size: 80px;
    font-family: var(--fonte-principal);
    margin: 10px;
}

.inicio__subtitulo__principal {
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 25px;
    margin: 10px;
}

.meio {
    display: flex;
    justify-content: space-between;
    margin: 10px 25%;
    padding: 100px 10px;
    align-items: center;
}

.meio__subtitulo {
    font-size: 23px;
    color: var(--cor-principal);
    font-weight: 700;
    font-family: var(--fonte-principal);
}

.meio__texto {
    font-size: 27px;
    margin: 10px 0px;
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
}

.sobre {
    padding: 100px;
}

.sobre__texto {
    font-size: 25px;
    font-family: var(--fonte-principal);
    margin: 50px auto;
    width: 80%;
    text-align: center;
}

.produtos__catalogos{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 500px;
}

.produtos__catalogos__item {
    margin: 30px;
    text-align: center;
    
}

.produtos__catalogos__item img {
    width: 250px;
    height: auto;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 100px;
    
}

.contato__subtitulo {
    font-size: 25px;
    font-family: var(--fonte-principal);
    margin: 10px  44%;
}

.contato__texto {
    font-size: 20px;
    font-family: var(--fonte-principal);
    margin: 5px  44%;
    font-weight: 700;
}

.icone__instagram {
    width: 20px;
}

.rodape {
    background-color: var(--cor-principal);
    text-align: center;
    padding: 50px 10px;
}

.rodape__subtitulo {
    color: var(--cor-secundaria);
    margin-bottom: 50px;
    font-family: var(--fonte-principal);
}

.rodape__texto {
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    font-style: italic;
    
}